@import url("https://fonts.googleapis.com/css?family=Montserrat:300,400,600,700");
/*-- general --*/
* {
  box-sizing: border-box;
  font-family: 'Montserrat', sans-serif;
}

body {
  margin: 0;
}

.container {
  width: 1200px;
  margin: 0 auto;
}

.modal-dialog {
  margin-top: 40vh;
  height: 400px;
  width: 350px;
}

.modal-dialog .modal-content form {
  margin: 0 auto;
  width: 70%;
  padding-top: 50px;
}

.modal-dialog .modal-content form input {
  outline: none;
  display: inline-block;
  width: 100%;
  padding: 10px;
  border: none;
  border-bottom: 2px solid #aeaeae;
  background: transparent;
  margin-bottom: 20px;
  height: 50px;
}

.modal-dialog .modal-content .modal-btn {
  padding-bottom: 40px;
  text-align: center;
}

#project-modal .modal-dialog {
  margin-top: 10vh;
  height: auto;
  width: 60%;
  display: block;
}

#project-modal .modal-dialog .upper-modal-text {
  margin: 20px 0 20px 75px;
}

#project-modal .modal-dialog .upper-modal-text h6 {
  font-size: 10px;
  color: #aeaeae;
  font-weight: 600;
}

#project-modal .modal-dialog .upper-modal-text h5 {
  font-weight: 700;
  font-size: 16px;
}

#project-modal .modal-dialog .upper-modal-text p {
  font-size: 10px;
  font-weight: 600;
}

#project-modal .modal-dialog .main-img {
  margin: 20px;
  padding: 0;
}

#project-modal .modal-dialog .main-img img {
  width: 90%;
  height: 90%;
}

#project-modal .modal-dialog .upper-modal-icons {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  -ms-flex-pack: justify;
      justify-content: space-between;
  margin-bottom: 20px;
}

#project-modal .modal-dialog .upper-modal-icons .small-icons {
  float: left;
  margin-left: 65px;
}

#project-modal .modal-dialog .upper-modal-icons .small-icons img {
  padding-left: 10px;
  width: 70px;
  height: 50px;
  cursor: pointer;
}

#project-modal .modal-dialog .upper-modal-icons .modal-buttons {
  float: right;
  margin-right: 75px;
  margin-top: 0;
  padding: 0;
}

#project-modal .modal-dialog .upper-modal-icons .modal-buttons button {
  height: 40px;
  margin: 10px 0;
  width: 40px;
  border-radius: 50%;
  background-color: black;
}

#project-modal .modal-dialog .upper-modal-icons .modal-buttons i {
  position: relative;
  top: calc(50% - 18px);
}

#project-modal .modal-dialog .lower-modal {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  -ms-flex-pack: justify;
      justify-content: space-between;
  background-color: #ededed;
  padding: 20px 40px 40px 75px;
}

#project-modal .modal-dialog .lower-modal .modal-text {
  width: 66%;
  padding-right: 20px;
}

#project-modal .modal-dialog .lower-modal .modal-text h6 {
  font-size: 14px;
  font-weight: 700;
  text-transform: uppercase;
}

#project-modal .modal-dialog .lower-modal .modal-text p {
  color: #7e7e7e;
  font-size: 14px;
  line-height: 1.8;
}

#project-modal .modal-dialog .lower-modal .modal-social {
  width: 33%;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  -ms-flex-pack: justify;
      justify-content: space-between;
  margin: 10px 30px 0 0;
}

#project-modal .modal-dialog .lower-modal .modal-social i {
  height: 40px;
  width: 40px;
  font-size: 20px;
  border-radius: 50%;
  margin: 0 2px;
  cursor: pointer;
  color: #fff;
  line-height: 40px;
  text-align: center;
}

#project-modal .modal-dialog .lower-modal .modal-social .fa-twitter {
  background-color: #34c5f0;
}

#project-modal .modal-dialog .lower-modal .modal-social .fa-linkedin {
  background-color: #127cb4;
}

#project-modal .modal-dialog .lower-modal .modal-social .fa-facebook {
  background-color: #336297;
}

#project-modal .modal-dialog .lower-modal .modal-social .fa-google-plus {
  background-color: #e74237;
}

#project-modal .modal-dialog .lower-modal .modal-social .fa-pinterest {
  background-color: #b71c29;
}

#project-modal .modal-dialog .lower-modal .modal-social i:hover, #project-modal .modal-dialog .lower-modal .modal-social i:active {
  background-color: black;
}

#project-modal .modal-dialog .lower-modal .modal-social .social {
  text-align: center;
}

#project-modal .modal-dialog .lower-modal .modal-social p {
  font-size: 10px;
  font-weight: 600;
  color: #aeaeae;
}

/*-- menu --*/
.navbar {
  height: 85px;
  color: #fff;
  margin-bottom: 0;
}

.navbar img {
  padding: 15px;
}

.navbar .collapse ul {
  float: right;
}

.navbar .collapse ul li {
  padding: 10px 0;
}

.navbar .collapse ul li:hover {
  border-bottom: 5px solid #b88b58;
}

.navbar .collapse ul a {
  height: 60px;
  line-height: 70px;
  padding: 0 10px;
  font-weight: 700;
  color: #fff;
}

/*-- jumbotron --*/
.jumbotron {
  height: auto;
  background: url("../images/bg1.png") center;
  background-size: cover;
}

.jumbotron h1 {
  font-weight: 700;
  font-size: 72px;
  padding-top: 20vh;
  color: white;
}

.jumbotron h1 span {
  color: #b88b58;
}

.jumbotron h3 {
  color: white;
  font-weight: 600;
  font-size: 24px;
}

.jumbotron button {
  margin-top: 30px;
  padding: 10px 0;
  height: 45px;
  width: 200px;
  font-size: 12px;
  font-weight: bold;
  background-color: #b88b58;
  color: white;
  border-radius: 20px;
  border-width: 0;
  text-transform: uppercase;
}

.jumbotron button:active {
  background-color: black;
}

.jumbotron .pagination {
  margin-top: 120px;
}

.jumbotron .pagination .dot {
  border: 3px solid #b88b58;
  margin: 0 10px;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  display: inline-block;
  cursor: pointer;
}

.jumbotron .pagination .full {
  background: #b88b58;
}

.jumbotron .page-up, .jumbotron .call {
  height: 80px;
  width: 80px;
  color: #fff;
  background-color: #b88b58;
  border-radius: 50%;
  text-align: center;
  position: fixed;
  bottom: 60px;
  right: 100px;
  z-index: 100;
}

.jumbotron .page-up:hover, .jumbotron .call:hover {
  background-color: black;
}

.jumbotron .page-up {
  right: auto;
  left: 100px;
  font-size: 60px;
}

.jumbotron .page-up .fa {
  position: absolute;
  top: 5px;
  left: 20px;
}

/*-- about us --*/
.about-us {
  height: auto;
}

.about-us .heading {
  text-align: center;
  font-weight: 600;
}

.about-us .heading h1 {
  font-size: 40;
  font-weight: bold;
}

.about-us .heading h5 {
  font-size: 20;
  color: #aeaeae;
  font-weight: bold;
}

.about-us .flex-container {
  display: -ms-inline-flexbox;
  display: inline-flex;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  -ms-flex-direction: row;
      flex-direction: row;
}

.about-us .flex-container .text {
  -ms-flex-direction: column;
      flex-direction: column;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -ms-flex-wrap: wrap-reverse;
      flex-wrap: wrap-reverse;
  margin-top: 50px;
  margin-bottom: 100px;
  font-weight: 400;
}

.about-us .flex-container button {
  margin-top: 20px;
  padding: 10px 0;
  height: 45px;
  width: 200px;
  font-size: 12px;
  font-weight: bold;
  background-color: #b88b58;
  color: white;
  border-radius: 20px;
  border-width: 0;
  text-transform: uppercase;
}

.about-us .flex-container button:active {
  background-color: black;
}

.about-us .flex-container .video {
  margin: 50px 0 70px 20px;
  width: 700px;
  height: 290px;
  background-image: url("../images/about.png");
  background-size: cover;
  box-shadow: 5px 15px 5px #CCC;
}

.about-us .flex-container .video h2 {
  color: #FFF;
  margin-top: 120px;
  font-weight: 600;
  display: -ms-inline-flexbox;
  display: inline-flex;
  padding-left: 70px;
  padding-right: 10px;
  position: relative;
}

.about-us .flex-container .video i {
  color: #fff;
  position: absolute;
  padding-top: 100px;
  cursor: pointer;
}

/*-- services --*/
.services {
  height: auto;
  background-color: black;
  color: #FFF;
}

.services .heading {
  margin-top: 50px;
  text-align: center;
  font-weight: 600;
}

.services .heading h1 {
  font-size: 40;
  font-weight: bold;
}

.services .heading h5 {
  font-size: 20;
  color: #aeaeae;
  font-weight: bold;
}

.services .flex-container {
  display: -ms-flexbox;
  display: flex;
  margin: 50px 0;
}

.services .flex-container .quality, .services .flex-container .design, .services .flex-container .updates, .services .flex-container .support {
  text-align: center;
  border-right: 2px solid #383838;
  width: 25%;
}

.services .flex-container .quality img, .services .flex-container .design img, .services .flex-container .updates img, .services .flex-container .support img {
  margin-bottom: 40px;
}

.services .flex-container .quality h4, .services .flex-container .design h4, .services .flex-container .updates h4, .services .flex-container .support h4 {
  text-transform: uppercase;
  font-weight: 600;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  padding: 0 20px;
}

.services .flex-container .quality p, .services .flex-container .design p, .services .flex-container .updates p, .services .flex-container .support p {
  color: #383838;
  font-size: 12px;
  padding: 0 20px;
}

.services .flex-container .quality {
  border-left: 2px solid #383838;
}

/*-- projects --*/
.projects {
  height: auto;
}

.projects .heading {
  margin-top: 50px;
  text-align: center;
  font-weight: 600;
}

.projects .heading h1 {
  font-size: 40;
  font-weight: bold;
}

.projects .heading h5 {
  font-size: 20;
  color: #aeaeae;
  font-weight: bold;
}

.projects .pills {
  text-align: center;
  margin: 40px 0 20px 0;
}

.projects .pills .nav {
  background-color: #ededed;
  display: inline-block;
  border: 1px solid #cfcfcf;
  border-radius: 30px;
  padding: 0 20px;
}

.projects .pills .nav li {
  padding: 10px;
  border-right: 1px solid #cfcfcf;
}

.projects .pills .nav li:last-of-type {
  border-right: none;
}

.projects .pills .nav li:hover {
  box-shadow: inset 0 -3px #b88b58;
}

.projects .pills .nav li a {
  color: #000;
}

.projects .pills .nav li a:active {
  color: #b88b58;
}

.projects .row {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  padding: 15px;
}

.projects img {
  z-index: 1;
}

.projects .text-layer {
  position: relative;
  width: 255px;
  height: 165px;
}

.projects .description {
  position: absolute;
  top: 0;
  color: #fff;
  background-color: rgba(0, 0, 0, 0.7);
  width: 255px;
  height: 165px;
  line-height: 20px;
  text-align: center;
  z-index: 10;
  opacity: 0;
  transition: all 0.5s ease;
}

.projects .description h4 {
  padding: 15px 0;
  text-transform: uppercase;
}

.projects .description p {
  font-size: 12px;
  font-weight: 400;
}

.projects .description:hover {
  opacity: 1;
  cursor: pointer;
}

.projects button {
  margin: 40px 0;
  padding: 10px 0;
  height: 45px;
  width: 200px;
  font-size: 12px;
  font-weight: bold;
  background-color: #b88b58;
  color: white;
  border-radius: 20px;
  border-width: 0;
  text-transform: uppercase;
}

.projects button:active {
  background-color: black;
}

.projects .btn-more {
  text-align: center;
}

/*-- team --*/
.team {
  height: auto;
  background: url("../images/bg2.png") center;
  background-size: cover;
}

.team .heading {
  padding-top: 20px;
  text-align: center;
  font-weight: 600;
}

.team .heading h2 {
  color: #fff;
  font-size: 40;
  font-weight: bold;
}

.team .heading h5 {
  font-size: 20;
  color: #ededed;
  font-weight: bold;
}

.team .container {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: justify;
      justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  padding-top: 30px;
}

.team .container .worker {
  background-color: #fff;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -ms-flex-direction: column;
      flex-direction: column;
  -ms-flex-pack: justify;
      justify-content: space-between;
  padding: 15px 0;
}

.team .container .worker img {
  padding: 50px 50px 30px 50px;
}

.team .container .worker h4 {
  text-align: center;
  font-weight: 600;
  text-transform: uppercase;
}

.team .container .worker p {
  text-align: center;
}

.team .container .worker .social-media {
  margin: 30px 0;
  text-align: center;
}

.team .container .worker .social-media i {
  height: 30px;
  width: 30px;
  font-size: 15px;
  border: 2px solid #cfcfcf;
  border-radius: 50%;
  margin: 0 2px;
  cursor: pointer;
  background: #cfcfcf;
  color: #fff;
  line-height: 28px;
  text-align: center;
}

.team .container .worker .social-media i:hover {
  border: 2px solid #b88b58;
}

.team .container .worker .social-media i:active {
  background-color: #b88b58;
}

.team .pagination {
  margin-top: 50px;
  margin-bottom: 0;
  padding-bottom: 50px;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -ms-flex-pack: center;
      justify-content: center;
}

.team .pagination .dot {
  border: 3px solid #b88b58;
  margin: 0 10px;
  width: 15px;
  height: 15px;
  border-radius: 50%;
  display: inline-block;
  cursor: pointer;
}

.team .pagination .full {
  background: #b88b58;
}

/*-- clients --*/
.clients {
  height: auto;
  background-color: #ededed;
}

.clients .heading {
  padding-top: 20px;
  text-align: center;
  font-weight: 600;
}

.clients .heading h2 {
  font-size: 40;
  font-weight: bold;
}

.clients .heading h5 {
  font-size: 20;
  color: #aeaeae;
  font-weight: bold;
}

.clients .about-client {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  -ms-flex-direction: column;
      flex-direction: column;
  -ms-flex-align: center;
      align-items: center;
}

.clients .about-client img {
  margin: 50px 0 20px 0;
}

.clients .about-client h3 {
  font-weight: 700;
}

.clients .about-client h4 {
  font-weight: 600;
  padding-bottom: 20px;
}

.clients .about-client i {
  color: #7e7e7e;
  padding-bottom: 10px;
}

.clients .about-client p {
  padding: 0 20px;
  font-weight: 300;
  color: #7e7e7e;
  font-size: 14px;
}

.clients .pagination {
  margin-top: 50px;
  padding-bottom: 50px;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -ms-flex-pack: center;
      justify-content: center;
}

.clients .pagination .dot {
  border: 3px solid #b88b58;
  margin: 0 10px;
  width: 15px;
  height: 15px;
  border-radius: 50%;
  display: inline-block;
  cursor: pointer;
}

.clients .pagination .full {
  background: #b88b58;
}

/*-- logos --*/
.logos {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: justify;
      justify-content: space-between;
}

.logos img {
  padding: 10px 0 20px 0;
}

/*-- price --*/
.price {
  height: auto;
  background-color: #ededed;
}

.price .heading {
  padding-top: 20px;
  text-align: center;
  font-weight: 600;
}

.price .heading h2 {
  font-size: 40;
  font-weight: bold;
}

.price .heading h5 {
  font-size: 20;
  color: #aeaeae;
  font-weight: bold;
}

.price .container {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: center;
      justify-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  text-align: center;
}

.price .container .table {
  background-color: #fff;
  width: 200px;
  margin: 20px 10px 40px 10px;
}

.price .container .table h5 {
  margin-top: 30px;
  font-weight: 600;
}

.price .container .table h2 {
  font-weight: 700;
}

.price .container .table h6 {
  font-weight: 700;
  font-size: 10px;
  color: #aeaeae;
  line-height: 0;
  padding-bottom: 20px;
}

.price .container .table p {
  font-size: 10px;
  line-height: 0.3;
}

.price .container .table button {
  margin: 20px 0 40px 0;
  padding: 10px 0;
  height: 45px;
  width: 150px;
  font-size: 12px;
  font-weight: bold;
  background-color: black;
  color: white;
  border-radius: 20px;
  border-width: 0;
  text-transform: uppercase;
}

.price .container .table button:active {
  background-color: #b88b58;
}

.price .container .table .btn-more {
  text-align: center;
}

/*-- premium --*/
.premium {
  height: auto;
}

.premium .heading {
  padding-top: 20px;
  text-align: center;
  font-weight: 600;
}

.premium .heading h2 {
  font-size: 40;
  font-weight: bold;
}

.premium .heading h5 {
  font-size: 20;
  color: #aeaeae;
  font-weight: bold;
}

.premium .container {
  margin-top: 50px;
  padding-bottom: 40px;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  border-bottom: 1px solid #cfcfcf;
}

.premium .container .box img {
  height: 350px;
}

.premium .container .features {
  margin-left: 80px;
}

.premium .container .features img {
  height: 30px;
  width: 35px;
  margin-right: 40px;
}

.premium .container .features h3 {
  font-weight: 700;
}

.premium .container .features p {
  margin-left: 75px;
  font-size: 14px;
  font-weight: 300;
}

.premium .pagination {
  margin-top: 50px;
  padding-bottom: 30px;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -ms-flex-pack: center;
      justify-content: center;
}

.premium .pagination .dot {
  border: 3px solid #b88b58;
  margin: 0 10px;
  width: 15px;
  height: 15px;
  border-radius: 50%;
  display: inline-block;
  cursor: pointer;
}

.premium .pagination .full {
  background: #b88b58;
}

.premium .btn-more {
  text-align: center;
  padding-bottom: 50px;
}

.premium .btn-more button {
  padding: 10px 0;
  height: 45px;
  width: 200px;
  font-size: 12px;
  font-weight: bold;
  background-color: #b88b58;
  color: white;
  border-radius: 20px;
  border-width: 0;
  text-transform: uppercase;
}

.premium .btn-more button:active {
  background-color: black;
}

/*-- facts --*/
.facts {
  height: auto;
  background-color: black;
}

.facts .heading {
  padding-top: 20px;
  text-align: center;
  font-weight: 600;
}

.facts .heading h2 {
  font-size: 40;
  font-weight: bold;
  color: #fff;
}

.facts .heading h5 {
  font-size: 20;
  color: #aeaeae;
  font-weight: bold;
}

.facts .container {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -ms-flex-pack: center;
      justify-content: center;
  text-align: center;
  -ms-flex-align: center;
      align-items: center;
}

.facts .container .fact {
  margin: 30px;
  width: 200px;
}

.facts .container .fact h1 {
  font-size: 50px;
  font-weight: 700;
  color: #b88b58;
}

.facts .container .fact hr {
  width: 8%;
  height: 3px;
  margin: 0 auto;
  background-color: #7e7e7e;
  color: #7e7e7e;
  border: 0 none;
}

.facts .container .fact h5 {
  padding: 0;
  font-weight: 600;
  color: #fff;
  font-size: 18px;
}

.facts .container .fact p {
  font-size: 12px;
  padding-top: 20px;
}

/*-- share --*/
.share {
  height: auto;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  margin: 30px auto;
}

.share .tell {
  display: -ms-flexbox;
  display: flex;
  margin-top: 5px;
}

.share .tell i {
  font-size: 30px;
  color: #aeaeae;
}

.share .tell h5 {
  color: #aeaeae;
  font-size: 14px;
  padding-left: 20px;
  font-weight: 600;
}

.share .social-icons {
  display: -ms-flexbox;
  display: flex;
  text-align: center;
}

.share .social-icons i {
  height: 40px;
  width: 40px;
  font-size: 20px;
  border-radius: 50%;
  margin: 0 2px;
  cursor: pointer;
  color: #fff;
  line-height: 40px;
  text-align: center;
}

.share .social-icons .fa-twitter {
  background-color: #34c5f0;
}

.share .social-icons .fa-linkedin {
  background-color: #127cb4;
}

.share .social-icons .fa-facebook {
  background-color: #336297;
}

.share .social-icons .fa-google-plus {
  background-color: #e74237;
}

.share .social-icons .fa-pinterest {
  background-color: #b71c29;
}

.share .social-icons i:hover, .share .social-icons i:active {
  background-color: black;
}

.share .social-icons p {
  font-size: 10px;
  margin: 15px 40px 0 3px;
  font-weight: 600;
  color: #aeaeae;
}

/*-- contact --*/
.contact {
  height: auto;
  background-color: #ededed;
}

.contact .heading {
  padding-top: 20px;
  text-align: center;
  font-weight: 600;
}

.contact .heading h2 {
  font-size: 40;
  font-weight: bold;
}

.contact .heading h5 {
  font-size: 20;
  color: #aeaeae;
  font-weight: bold;
  margin-bottom: 70px;
}

.contact form {
  margin: 0 auto;
  width: 30%;
}

.contact form input, .contact form textarea {
  outline: none;
  display: inline-block;
  width: 100%;
  padding: 10px;
  border: none;
  border-bottom: 2px solid #aeaeae;
  background: transparent;
  margin-bottom: 40px;
  height: 40px;
}

.contact form textarea, .contact form textarea:focus {
  resize: none;
  overflow: hidden;
  margin-top: 50px;
  box-shadow: none;
  border-bottom: 2px solid #aeaeae;
}

.contact form .align-left {
  width: 45%;
  float: left;
}

.contact form .align-right {
  width: 45%;
  float: right;
}

.contact form input::-webkit-input-placeholder {
  color: #7e7e7e;
  font-weight: 600;
}

.contact form input:-ms-input-placeholder {
  color: #7e7e7e;
  font-weight: 600;
}

.contact form input::placeholder {
  color: #7e7e7e;
  font-weight: 600;
}

.contact .btn-more {
  text-align: center;
  padding-bottom: 50px;
}

.contact .btn-more button {
  padding: 10px 0;
  height: 45px;
  width: 200px;
  font-size: 12px;
  font-weight: bold;
  background-color: #b88b58;
  color: white;
  border-radius: 20px;
  border-width: 0;
  text-transform: uppercase;
}

.contact .btn-more button:active {
  background-color: black;
}

/*-- map --*/
.map {
  height: 50vh;
  background: url("../images/bg3.png") center;
  background-size: cover;
}

.map .info {
  position: absolute;
  background-color: #ededed;
  height: 40vh;
  width: 35%;
  margin: 50px 0 50px 300px;
  border-radius: 5px;
}

.map .info .info-details {
  margin: 60px 0 0 50px;
}

.map .info .item {
  padding: 5px 0;
}

.map .info p {
  display: inline-block;
  font-size: 12px;
}

.map .info .fa {
  height: 35px;
  width: 35px;
  border-radius: 50%;
  background-color: #aeaeae;
  color: #fff;
  font-size: 20px;
  padding: 7px 0 0 8px;
  margin-right: 20px;
  transition: 0.3s;
}

.map .info .fa:hover {
  background-color: #b88b58;
  cursor: pointer;
}

.map .info .fa-map-marker {
  padding-left: 12px;
}

.map .info .fa-at,
.map .info .fa-globe,
.map .info .fa-phone {
  padding-left: 10px;
}

/*-- footer --*/
footer {
  height: auto;
  background-color: black;
  color: #fff;
}

footer .social-media {
  margin: 30px 0;
}

footer .social-media i {
  height: 35px;
  width: 35px;
  font-size: 15px;
  border-radius: 50%;
  cursor: pointer;
  padding: 4px 0;
  margin: 0 2px;
  background: #383838;
  color: #fff;
  line-height: 28px;
  text-align: center;
}

footer .social-media i:hover, footer .social-media i:active {
  background-color: #b88b58;
}

footer p {
  color: #7e7e7e;
  font-size: 12px;
  margin-top: 30px;
  line-height: 1.8;
}

footer .subscription {
  margin-top: 30px;
  background-color: #383838;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
      flex-direction: column;
  height: 200px;
  border-radius: 5px;
  -ms-flex-align: center;
      align-items: center;
  -ms-flex-pack: center;
      justify-content: center;
}

footer .subscription input {
  text-align: center;
  outline: none;
  display: inline-block;
  width: 100%;
  padding: 10px;
  border: none;
  border-bottom: 2px solid #aeaeae;
  background: transparent;
  height: 40px;
}

footer .subscription button {
  margin-top: 20px;
  padding: 10px 0;
  height: 45px;
  width: 180px;
  font-size: 12px;
  font-weight: bold;
  background-color: #b88b58;
  color: white;
  border-radius: 20px;
  border-width: 0;
  text-transform: uppercase;
}

footer .subscription button:active {
  background-color: black;
}

footer .copyright {
  padding-bottom: 20px;
  font-size: 12px;
}

/*-- media queries --*/
@media (min-width: 768px) and (max-width: 1199px) {
  .container {
    width: 100%;
    padding: 0;
  }
  .navbar-header {
    float: none;
    text-align: center;
  }
  .navbar-toggle {
    display: block;
  }
  .navbar-collapse.collapse {
    display: none !important;
  }
  .navbar .collapse ul li {
    padding: 0;
  }
  .navbar-nav {
    float: none !important;
  }
  .navbar-nav li {
    float: none;
  }
  .collapse {
    padding-left: 0;
    margin-left: 0;
  }
  .collapse ul li {
    width: 20%;
    background-color: rgba(0, 0, 0, 0.8);
  }
  .collapse ul li:hover {
    border: none !important;
  }
  .collapse.in {
    display: block !important;
  }
  .jumbotron h1 {
    font-size: 50px;
    padding-top: 20vh;
  }
  .jumbotron h3 {
    font-size: 20px;
  }
  .jumbotron .page-up, .jumbotron .call {
    height: 70px;
    width: 70px;
    bottom: 50px;
    right: 80px;
  }
  .jumbotron .page-up {
    left: 80px;
  }
  .jumbotron .page-up .fa {
    top: 0;
    left: 15px;
  }
  .about-us .heading {
    margin-top: 10px;
  }
  .about-us .flex-container {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -ms-flex-direction: column;
        flex-direction: column;
    -ms-flex-align: center;
        align-items: center;
  }
  .about-us .flex-container .text {
    margin: 10px 20px;
    text-align: center;
  }
  .about-us .flex-container .video .video-text {
    text-align: center;
  }
  .about-us .flex-container .video .video-text h2 {
    padding-left: 70px;
  }
  .about-us .flex-container .video .video-text i {
    padding-right: 0;
  }
  .projects ul {
    margin: 0;
    text-align: center;
  }
  .projects .row {
    -ms-flex-pack: center;
        justify-content: center;
  }
  .team .container {
    -ms-flex-pack: center;
        justify-content: center;
  }
  footer .social-media, footer .copyright {
    text-align: center;
  }
  footer p {
    padding: 0 10px;
  }
}

@media (max-width: 767px) {
  .container {
    width: 100%;
  }
  .navbar .collapse ul li {
    padding: 0;
  }
  .navbar-nav {
    margin-top: 0;
  }
  .collapse ul li {
    height: 45px;
    padding: 0;
    width: 150px;
    background-color: rgba(0, 0, 0, 0.8);
  }
  .collapse ul li:hover {
    border: none !important;
  }
  .collapse ul li a {
    width: 150px;
    font-size: 12px;
    height: 20px;
  }
  .jumbotron h1 {
    font-size: 40px;
    padding-top: 20vh;
  }
  .jumbotron h3 {
    font-size: 15px;
  }
  .jumbotron button {
    width: 150px;
    height: 40px;
  }
  .jumbotron .pagination {
    display: none;
  }
  .jumbotron .page-up, .jumbotron .call {
    height: 60px;
    width: 60px;
    font-size: 50px;
    bottom: 40px;
    right: 70px;
  }
  .jumbotron .call img {
    padding-bottom: 40px;
  }
  .jumbotron .page-up {
    left: 70px;
  }
  .jumbotron .page-up .fa {
    top: 0;
    left: 15px;
  }
  .about-us .heading {
    margin-top: 10px;
  }
  .about-us .flex-container {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -ms-flex-direction: column;
        flex-direction: column;
    -ms-flex-align: center;
        align-items: center;
    margin-bottom: 20px;
  }
  .about-us .flex-container .text {
    margin: 10px 20px;
    text-align: center;
  }
  .about-us .flex-container .text button {
    width: 150px;
    height: 40px;
  }
  .about-us .flex-container .video {
    display: none;
  }
  .services .container {
    padding: 0;
  }
  .services .container .flex-container h4 {
    font-size: 14px;
  }
  .projects ul {
    margin: 0;
    text-align: center;
  }
  .projects .row {
    -ms-flex-pack: center;
        justify-content: center;
  }
  .projects #project-modal .modal-dialog .lower-modal {
    padding: 5px;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    text-align: center;
  }
  .projects #project-modal .modal-dialog .lower-modal .modal-text {
    width: 100%;
  }
  .projects #project-modal .modal-dialog .modal-social {
    width: 100%;
    -ms-flex-pack: center;
        justify-content: center;
  }
  .projects #project-modal .modal-dialog .modal-social .social {
    margin: 0 5px;
  }
  .team .container {
    -ms-flex-pack: center;
        justify-content: center;
  }
  .team .container .worker {
    margin-top: 15px;
  }
  .premium .box {
    display: none;
  }
  .premium .container {
    margin-top: 20px;
    border: none;
  }
  .premium .container .features {
    margin: 0 auto;
  }
  .premium .pagination {
    margin-top: 0;
  }
  .facts .container .fact {
    margin: 0 30px;
  }
  .share .tell {
    margin: 10px auto;
  }
  .share .social-icons {
    margin: 0 auto;
  }
  .share .social-icons P {
    margin-right: 15px;
  }
  .contact .heading {
    padding-top: 10px;
  }
  .contact .heading h2 {
    font-size: 18px;
  }
  .contact .heading h5 {
    margin-bottom: 20px;
  }
  .contact form {
    width: 60%;
  }
  .contact form .align-left, .contact form .align-right {
    float: none;
    width: 100%;
    margin-bottom: 20px;
  }
  .contact form input {
    margin-bottom: 20px;
  }
  .contact form .form-control {
    margin-top: 30px;
  }
  .map .info {
    width: 80%;
    margin: 0 auto;
    position: relative;
    height: auto;
  }
  .map .info .info-details {
    margin-top: 0;
  }
  footer .social-media, footer .copyright {
    text-align: center;
  }
}
/*# sourceMappingURL=style.prefixed.css.map */